* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.sideBar {
    background-color: #f6f6f6;
    padding: 20px;
}

.sideBar p {
    padding-bottom: 10px;
}

.mainContent {
    padding: 20px;
}

.searchBar {
    margin-bottom: 10px;
}

.cardsField {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.actualCards h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.cardsContainer section {
    border: 1px solid black;
    display: block;
    width: min-content;
}